* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --gap: 24px;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.sidebar {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: darkslateblue;

  display: grid;
  grid-template-rows: 50px calc(9 * 30px + 7 * 24px + 40px);
  grid-template-columns: 1fr;
  padding: var(--gap);
  gap: 40px;
  /* overflow: scroll; */
}

/* .logo {
  background: rgb(164, 155, 222);
} */

.sidebar-things {
  display: grid;
  grid-template-rows: calc(6 * 30px + 5 * 24px) calc(3 * 30px +2 * 24px);
  gap: 40px;
}

.navigation {
  display: grid;
  grid-template-rows: repeat(6, 30px);
  gap: var(--gap);
}

.branding {
  display: grid;
  grid-template-rows: repeat(3, 30px);
  gap: var(--gap);
}

.logo {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: calc(var(--gap) - 5px);
}

.nav,
.brand {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: var(--gap);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: auto;
  width: 25px;
}

.big-icon {
  width: 60px;
  height: auto;
}

.big-heading,
.heading {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #fff;
}

.big-heading {
  font-size: 24px;
}

.header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.388);
  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: 2fr 1fr;
  gap: var(--gap);
  padding: var(--gap);
}

/* .top {
  background-color: rgb(226, 183, 236);
} */

.search,
.hello-there {
  display: flex;
  gap: var(--gap);
}

.search-bar {
  background-color: rgb(234, 234, 234);
  border-radius: 30px;
  flex: 1;
}

.avatar-icon {
  height: 60px;
  width: auto;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.hello {
  font-size: 1rem;
}

.user {
  font-size: 1.5rem;
  font-weight: bold;
}

.dashboard-buttons,
.profile-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.dashboard-button {
  height: 35px;
  width: 75px;
  background-color: darkslateblue;
  color: #fff;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
}

.profile-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  /* background-color: darkslateblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
}

.bell-icon {
  height: 25px;
}

.small-avatar-icon {
  height: 35px;
  width: auto;
}

.full-name {
  width: 120px;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
}

.content {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgb(31, 37, 42);
  display: grid;
  overflow: auto;
}

.dashboard-grid {
  margin: var(--gap);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--gap);
}

.main-cards {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.main-cards,
.side-top,
.side-bottom {
  display: grid;
  grid-template-rows: 40px 1fr;
}

.small-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--gap);
}

.small-card {
  background-color: #14191dba;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.373);
  display: flex;
}

.card-color {
  width: 8px;
  background-color: #365e7d;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-content {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 30px;
  padding: var(--gap);
}

.card-text {
  grid-row-start: 1;
  grid-row-end: 2;
}

.card-text-heading {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

.card-text-body {
  color: #fff;
  font-size: 0.7rem;
}

.card-icons {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.card-icon {
  height: auto;
  width: 20px;
}

.side-top {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.side-bottom {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.card-heading {
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.big-card {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #14191dba;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.373);

  display: flex;
  flex-direction: column;
  padding: var(--gap);
}

.side-top-entry,
.side-bottom-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 0.7rem;
}

.side-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.side-top-entry {
  border-bottom: dashed 1px #b7acff;
  color: white;
}

.side-top-entry:last-child {
  border-bottom: none;
}

.side-heading {
  font-weight: bold;
}

.side-2 {
  gap: 10px;
}

.side-bottom-entry {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
}

.avatar-image {
  height: 40px;
  width: auto;
}